body {
    font-family: 'Roboto', sans-serif;
}

.calculator {
    background-color: #00E5FF;
    border-radius: 7px;
    width: 450px;
    margin: 7rem auto 0;
}

.output {
    color: rgba(0, 0, 0, 0.7);
    font-size: 40px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: #FAFAFA;
    padding: 25px 20px;
    height: 50px;
    text-align: right;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

.calc-wrap {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
}

button {
    position: relative;
    background-color: #303a46;
    border: none;
    font-size: 1.5em;
    color: #FFFFFF;
    width: 100%;
    height: 100px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.right button {
    background-color: #00b9d7;
}

.left .clear, #delete {
    background-color: turquoise;
}

.right button:last-child {
    border-bottom-right-radius: 7px;
}

.button-decimal {
    border-bottom-left-radius: 7px;
}

@media only screen and  (max-width: 540px){
    .calculator {
        width: 300px;
    }
}